.searchbox-div{
	margin-left: auto!important;
	margin-right: auto!important;
}
.searchbox{
	width:40rem!important;
	height: 2rem;
	border: 1px solid black;
}
.searchbtn{
	margin-left: 5px !important;
}
.SecondRow{
	margin: 2% 0%;
}